name: Node.js CI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Copy files via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 3.127.136.136
          username: "ubuntu"
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist"
          target: "/home/ubuntu/hopescan/app/" # Change this to your web root or desired location

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Update dist in docker container
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@3.127.136.136 << 'EOF'
          sudo docker cp /home/ubuntu/hopescan/app/dist c3707db18486:/app/app/
          EOF


